<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>الأنامل الذكية</h2>
            <h4>info@anamel.com</h4>
        </div>
    </div>

    <mat-divider></mat-divider>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
        <mat-icon dir="rtl">home</mat-icon><span>الصفحة الرئيسية</span></a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/customers">
        <mat-icon>contacts</mat-icon> العملاء </a>


    <a mat-list-item routerLinkActive="list-item-active" routerLink="/myprofile">
        <mat-icon>contact_phone</mat-icon>
        صفحتى الشخصية
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/settings">
        <mat-icon>build</mat-icon>
        الضبط
    </a>

</mat-nav-list>
